body{
    font-family: "Poppins", sans-serif;
    background-color: #272044;
    max-width: 1400px;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.grid{
    display: grid;
    grid-gap: 64px
}
.grid-2-columns{
    grid-template-columns: 2fr 2fr;
}
.grid-3-columns-with-first-narrow{
    grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-columns{
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
    overflow-x: auto;

}
.card-grid-column{
    grid-template-columns: 6fr 3fr;

}
.img-responsive{
    width: 100%;
    display: block;
    border-radius: 8px;
}
.card{
    background: white;
    margin:30px 0;
}
.card h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: #272044;
}
.card h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #272044;
}
.card-body{
    padding: 30px;
}
.card-footer{
    padding:0 30px 30px;
}
.card-header.grid{
    grid-gap:0;
}
.embed{
    width: 100%;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease-in-out ;
}
.embed:hover{
    transform: scale(2);
  
}
.btn{
    display: block;
    color: yellow;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 3px;
    padding: 16px;
    background-color: #462cb3;
    text-transform: uppercase;
    text-decoration: none;
}
.coder-credit{
    text-align: center;
    font-size: 14px;
    font-weight: 10px;
    color: rgb(255, 106, 0);
}
.text-center{
    text-align: center;
    padding-top: 10px;
}
#image-for-text{
    transition: transform 0.3s ease-in-out ;
}
#image-for-text:hover{
    transform: scale(2);
    
}
#galerie-picture{
    width: auto;
    height: 350px;
}
section{
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;
    

}
section.secondary{
    background: #f8f8f8;
}

main{
    background-color: white;
}
main h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    opacity: 0.3;
    color: #272044;
    text-transform: uppercase;
    margin: 0;
    text-align: center;

}
main h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #272044;
    margin: 0;
    text-align: center;


}

main h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: #272044;
    margin: 0;
}

main h5{
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5;
    color: #272044;
    margin: 0;

}
main p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #272044;
    opacity: 0.7;

}

header{
    background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url("../images/landschaft.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 200px 0;
}
header h1{
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
    color: white;
}
header h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.5;  
    margin: 0;
    color: white;

}
header h3{
    font-weight: 900;
    font-size: 30px;
    line-height: 1.5;
    margin: 0;
    color: yellow;


}
header a{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color:yellow;
    background-color: #272044;
    background-size: 5px;
    padding: 16px 32px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
}
footer{
    color: white;
    background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.9)), url(../images/leLac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
   
}
footer h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding-left: 6px;
    
}

footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
    margin: 0;
    padding-left: 6px; 
}

footer ul{
    padding: 0;
}
footer li{
    list-style: none ;
    margin: 0;
    padding: 0;
}
footer a{
    color: white;
    opacity: 0.7;
}
.table-container{
    width: 100%;
    white-space: nowrap;
    
}
table{
    display: flex;
    
}
tbody{
    display: flex;
}
tr{
    display: flex;
    justify-content: center;

}
td{
    overflow-x: auto;
    padding: 5px;
}
td img{
    transition: transform 0.3s ease-in-out ;
}
td img:hover{
    filter: contrast(50%) ;
}
@media(max-width: 960px){
    header{
        padding: 60px 0;
    }
    header h1{
        font-size: 48px;
    }
    header h2{
        font-size: 20px;
    }
    header h3{
        font-size: 12px;
    }
    section{
        padding: 30px;  
    }
    .grid{
        grid-template-columns: 1fr;
        grid-gap: 32px
    }
    .card-header img{
        display: none;

    }
    .embed{
        aspect-ratio: 16/9;
    }
    img{
        margin: 0 auto;
        display: block;
        width: 100%;
    }
    
}